/* Primary Button */
.btn-primary-div {
  position: relative;
  display: inline-block;
}
.btn-primary {
  height: auto;
  width: auto;
  border-radius: 2.5rem;
  background-color: var(--color-purple);
  color: var(--color-white);
  cursor: pointer;
  padding: 0 1.5rem;
}

.btn-primary > span {
  padding: 1rem 0.8rem;
}
.btn-primary-content {
  position: absolute;
  top: 0;
  font-weight: 400;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: var(--color-white);
  background-color: var(--color-purple);
  z-index: 1;
  width: 100%;
  border-radius: 1.5rem;
}

.btn-primary-content > div {
  cursor: pointer;
}

.btn-primary-content > div a {
  color: var(--color-white);
  padding: 1rem 0 0 0;
}
