.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-s {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-r-sb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-r-sa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


