/* ROOT SECTION OF CSS VARIABLE DECLARATION */
:root {
  /* COLOR */
  --color-background: #f3f4ff;

  --color-navbar-background: #4d44b5;
  --color-navbar-font: #c1bbeb;

  --color-heading: #303972;
  --color-muted-test: #a098ae;
  --color-white: #ffffff;

  --color-present: #39b29a;
  --color-absent: #f95a77;
  --color-leave: #f4be37;

  --card-border: 0.6rem;
}

#student {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  padding: 2rem;
}

.student-heading span span {
  font-size: 1.7rem;
  font-weight: 400;
}

/* SEARCH STUDENT DIV */

.student-search-btn{
  padding: 2rem 0 2rem 0;
}


/* SEARCH INPUT & CREATE BUTTON */


.search-student-div{
  position: relative;
}

#search-student{
 
  align-items: center;
  
  padding-left: 4rem;
  padding-right: 2rem;

  width: 21rem;
  height: 3.75rem;
  
  font-size: 1.2rem;
  background: #FFFFFF;
  border-radius: 40px;

}
.search-student-icon{
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--color-heading)
}


.new-btn {

  height: 3.75rem;
  width: 10.125rem;
  border-radius: 2.5rem;
  background-color: var(--color-navbar-background);
  color: var(--color-white);
  position: relative;
  cursor: pointer;
}

.new-btn > span {
  padding: 0.3rem;
}