#student {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  padding: 3rem;
}

.student-heading span span {
  font-size: 1.7rem;
  font-weight: 400;
}

/* SEARCH STUDENT DIV */

.student-search-btn {
  padding: 2rem 0 2rem 0;
}

/* SEARCH INPUT & CREATE BUTTON */

.search-student-div {
  position: relative;
}

#search-student {
  align-items: center;

  padding-left: 4rem;
  padding-right: 2rem;

  width: 21rem;
  height: 3.75rem;

  font-size: 1.2rem;
  background: var(--color-white);
  border-radius: 3rem;
}
.search-student-icon {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 2rem;
  height: 2rem;
  color: var(--color-text);
}

/* Student tables */

.student-table-div {
  width: 100%;
  height: 54.5625rem;

  background-color: var(--color-white);
  border-radius: var(--card-border);
}

.muted-text {
  color: var(--color-grey-3);
}

table thead {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  color: var(--color-text);
}

table tbody {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  color: var(--color-text);
}

tbody a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
  cursor: pointer;
}

/* Large desktop screens (1440px and above) */
@media (min-width: 1440px) {
}

/* Medium-sized desktop screens (1280px to 1439px) */
@media (min-width: 1280px) and (max-width: 1439px) {
}

/* Small desktop screens and tablets (1024px to 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* Tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  #user-profile-div {
    display: none;
  }
}

/* Mobile devices in landscape orientation (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  #user-profile-div {
    display: none;
  }
}

/* Mobile devices in portrait orientation (320px to 479px) */
@media (min-width: 320px) and (max-width: 479px) {
  #user-profile-div {
    display: none;
  }
}
