.devider_container,
.devider_1_container {
  width: 100%;
  height: 0.0625rem;
}

.devider_container {
  background: var(--color-devider);
}

.devider_1_container {
  background: var(--color-devider-1);
}
