.button_container{
    border-radius: 1rem;
    background: #1B9686;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0;

    transition: all 300ms ease-in-out;
}
.button_container:hover{
    background-color: gainsboro;
}
.button_container img{
    width: auto;   
    height: 4rem;   
}
h1{
    color: white;
}

.logo_container{
    position: fixed;
    top: 20rem;
    left: 45rem;
    text-align: center;
    margin: auto;
    z-index: 0;
}

.asws_logo{
    height: 18rem;
}